.container-cheeck{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-paso-uno{
        background-color: aliceblue;
        width: 380px;
        height: 500px;
        color: #02172a;
        padding: 10px;
        border-radius: 10px;
        margin-top: 8px;
        margin-bottom: 50px;
        box-shadow: 3px 3px 3px #4d4d4d;
}


.cont-form-register{
    display: grid;
    flex-direction: column;
    place-content: center;
}

.cont-form-register input{
    margin: 10px 0px;
    height: 45px;
    color: aliceblue;
    padding-left: 10px;
    background-color: #1A1D29;
    border-radius: 5px;
}

.cont-form-register input::placeholder{
    color: gray;
    font-weight: 300;
    font-size: 14px;
    padding-left: 10px;
}

.devices-img {
    width: 220px;
    height: 150px;
    color: #02d6e8;
}