.container-movies-favs{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #1a1d29;
    position: relative;
}


.container-movies-favs h1{
    padding-top: 20px;
    font-size: 38px;
    font-weight: 500;
}
.grid-movies{
    display: grid;
    align-content: start;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 20px;
    margin-bottom: 80px;
    flex: 1;
}

.btn-remove-movie-list{
    margin-top: 50px;
}

.container-movies-favs footer {
    width: 100%;
    height: auto;
    bottom: 0;
    
}

@media (min-width: 350px) and (max-width:400px) {
    .grid-movies{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-movies .dialog-notmovie{
        grid-column: 1 / -1;
        display: grid;
        place-items: center;
        width: 100%;
        
    }
    .btn-remove-movie-list{
        padding-top: 30px;
        margin-top: 45px;
    }
}