.movie-card{
    width: 100%;
        min-height: 400px;
        /* Cambia height fijo por min-height */
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        max-width: 800px;
}

.img-movie{
    width: 210px;
    height: 294px;
}

.info-movie{
   display: block;
}