.success-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    z-index: 1000;
  }
  
  .success-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    max-width: 400px;
    height: auto;
    width: 100%;
  }
  
  .success-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  
  .success-popup-text{
    color: #212529;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .success-popup-text-title{
    color: #212529;
    font-weight:600;
  }

  .success-button-close-success {
    padding: 10px 15px;
    border: none;
    margin-top: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    background-color: #02d6e8;
    color: #02172a;
  }
  

  @media (min-width: 350px) and (max-width: 400px) {

    .success-popup-content{
      width: 370px !important;
      height: 250px;
    }

    .success-popup-text{
      font-size: 18px;
    }

    .success-popup-text-title{
      font-size: 15px
    }
}