.contianer-movies-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #1A1D29;
}


.contain-mov-card-result{
    width: 100%;
    flex: 1;
}

.card-search{
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    background-color: #4B4E5A;
    color: #A8A9AD;
    flex: 1;
}

.card-search input{
    margin: 10px 10px;
    height: 60px;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 15px;
    font-size: 44px;
    

}

.card-search input::placeholder{
    font-size: 44px;
    opacity: 0.3;
    line-height: 30px;
}


.container-movs-filter{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    box-sizing: border-box;
    gap: 15px;
    padding: 15px; 
    flex: 1;
    margin-bottom: 50px;
}

.not-found-mov{
    width: 100%;
    margin-top: 50px;
    flex: 1;
}

.contianer-movies-search footer{
    width: 100%;
    bottom: 0;
    height: auto;
}


@media (min-width: 350px) and (max-width: 400px) {

    .contianer-movies-search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card-search{
        height: 50px !important;
        max-height: 50px !important; 
        overflow: hidden;
        width: 370px;
        border-radius: 5px;
        
    }

    .card-search input{
        height: 35px !important;
        padding-bottom: 15px;
        line-height: 30px; /* opcional: alinea el texto */
        display: flex;
        justify-content: center;
        text-align: start;
        align-items: start;
    }

    .card-search input::placeholder{
        font-size: 20px;
        line-height: 50px;
        
    }

    .container-movs-filter{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .card-search input:not(:placeholder-shown) {
        font-size: 20px;
    }
}