.cont-form-summary{
    display: grid;
    flex-wrap: column;
    gap: 10px;
    place-items: center;
    width: 100%;
}

.card-pay{
    display: grid;
    grid-template-columns: repeat(3,2fr);
}

.card-inputs{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 15px;
}

.card-inputs input::placeholder{
    padding-left: 10px;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
}

.card-inputs input:focus{
    padding-left: 10px;
}


.input-card-number{
    width: 80%;
    background-color: transparent;
    border: 0.5px solid #8c8c8c;
    border-radius: 2px;
    min-height: 50px;
    margin: 10px 0px;
    padding-left: 10px;
    
}

.inputs-fecven{
    display: flex;
    width: 80%;
    margin: 6px 0px;
}


.input-fec-venc{
    width: 100%;
    background-color: transparent;
    border: 0.5px solid #8c8c8c;
    border-radius: 2px;
    min-height: 50px;
    margin: 5px 0px;
    padding-left: 10px;
}

.input-cvv{
    width: 100%;
    background-color: transparent;
    border: 0.5px solid #8c8c8c;
    border-radius: 2px;
    min-height: 50px;
    margin: 5px 0px;
    padding-left: 10px;
}

.container-input-fecvenc{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 12px 12px 5px 0px;
}

.container-input-cvv{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
}

.container-input-name-card{
    width: 100%;
    margin: 10px 0px;
}

.container-input-card-number{
    width: 100%;
    margin: 6px 0px;
}

.input-name-card{
    width: 80%;
    background-color: transparent;
    border: 0.5px solid #8c8c8c;
    border-radius: 2px;
    min-height: 50px;
    margin: 10px 0px;
    padding-left: 10px;
}



.date-register{
    margin: 10px 0px;
    text-align: start;
}
.date-register p{
    font-size: 14px;
}

.copyright{
    width: 100%;
    text-align: start;
    font-size: 13px;
    color: #8c8c8c;
}

.descrip-price{
    width: 100%;
    font-size: 14px;
}

.descrip-price p{
    font-weight: 600;
}

.btn-iniciar-memb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50px;
    background-color: #02d6e8;
    color: #02172a;
    border-radius: 3px;
    margin: 20px auto;
    cursor: pointer; 
    border: none; 
}

.btn-iniciar-memb-disable{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50px;
    background-color: #02d6e8;
    color: #02172a;
    border-radius: 3px;
    margin: 20px auto;
    cursor: pointer;
    border: none;
    opacity: 50%;
}