.cont-form-summary{
    display: grid;
    flex-wrap: column;
    gap: 10px;
    place-items: center;
    width: 100%;
}

.card-pay{
    display: grid;
    grid-template-columns: repeat(3,2fr);
}

.card-inputs{
    width: 70%;
}

.card-inputs input::placeholder{
    padding-left: 10px;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
}

.card-inputs input:focus{
    padding-left: 10px;
}


.input-card-number{
    width: 100%;
    background-color: transparent;
    border: 0.5px solid #8c8c8c;
    border-radius: 2px;
    min-height: 50px;
    margin: 5px 0px;
    
}
.inputs-fecven{
    display: flex;
    width: 100%;
}
.inputs-fecven input{
    width: 95%;
    background-color: transparent;
    border: 0.5px solid #8c8c8c;
    border-radius: 2px;
    min-height: 50px;
    margin: 5px 0px;
}

.input-fec-venc{
    width: 100%;
}


.input-name-card{
    width: 100%;
    background-color: transparent;
    border: 0.5px solid #8c8c8c;
    border-radius: 2px;
    min-height: 50px;
    margin: 5px 0px;
}

.date-register{
    text-align: start;
}
.date-register p{
    font-size: 14px;
}

.copyright{
    font-size: 13px;
    color: #8c8c8c;
}

.container-input-fecvenc{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 12px 0px;
}

.container-input-cvv{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 12px 0px;
}

.btn-iniciar-memb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50px;
    background-color: #02d6e8;
    color: #02172a;
    border-radius: 3px;
    margin: 20px auto;
    cursor: pointer; 
    border: none; 
}