.container-plans-cards{
    width: 360px;
    height: 600px;
    color: #02172a;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0px 10px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.7);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
}



.container-plans-cards ul li{
    padding: 10px 15px;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.container-plans-cards ul li:last-child {
    padding: 10px 15px;
    width: 100%;
    border-bottom: none;
}


.item-detail-head {
    margin-top: 8px;
    border-radius: 12px;
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(109, 59, 227) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
}


.item-detail-card-head{
    display: grid;
    flex-direction: column;
    place-items: start;
    color: aliceblue;
    font-size: 1.100rem;
    font-weight: 500;
    line-height: 1.5;
}

.checbx-select-plan{
    display: flex;
    justify-content: end;
    width: 100%;
}

.inpt-checbx-plan{
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: #fff;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
}

.inpt-checbx-plan:checked::after{
        content: "✔";
        color: #fff;
        background-color: #6d3be3;
        border-color: #6d3be3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        border-radius: 20px;
        outline: none;
}


.item-detail-card{
    display: grid;
    flex-direction: column;
    place-items: start;
    padding: 5px 0px;
}

.item-detail-card h3{
    font-size: 0.8125rem;
    color: rgb(118, 118, 118);
    text-align: left;
}