.container-payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color:#1A1D29;
}

.header-payment{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.img-logo-payment{
    width: 100px;
    height: 100px
}

.content-payment{
    display: grid;
    place-items: start;
    width: 550px;
    height: 730px;
    background-color: aliceblue;
    color: #1A1D29;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 50px;
}