.container-payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color:#1A1D29;
}

.header-payment{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.img-logo-payment{
    width: 100px;
    height: 100px
}

.content-payment{
    display: grid;
    place-items: start;
    width: 550px;
    height: 900px;
    background-color: aliceblue;
    color: #1A1D29;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.popup-buttons{
    display: flex;
    width: 100%;
}

.button-accept{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: #02d6e8;
    color: #02172a;
    border-radius: 3px;
    margin: 20px auto;
    cursor: pointer; 
    border: none; 
}

.button-close{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: aliceblue;
    color: #02d6e8;
    border-radius: 3px;
    margin: 20px auto;
    cursor: pointer; 
    border: none;
}