.container-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #1A1D29;
}



.carrousel-card{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: auto;
    flex: 1;
}

.container-home footer{
    width: 100%;
    height: auto;
    bottom: 0;
}

.contain-logo-respons{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-responsive{
    width: 150px;
    height: 150px;
}

@media (min-width: 350px) and (max-width: 400px ) {
    .carrousel-card{
        margin-top: 5px;
    }


    
}