.container-movies {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .loader-movies{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container-allmovies-card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px; 
    padding: 16px;
    width: 100%;
  }
  
  .container-card { 
    box-sizing: border-box; 
  }
  
  .btn-add-watchlist{
    display: flex;
    font-family: 10px;
    align-items: center;
    padding-top: 5px;
  }

  .btn-add-watchlist svg{
    margin-left: 5px;
  }




  @media (min-width: 350px) and (max-width: 400px ) {
      .container-allmovies-card{
        grid-template-columns: repeat(2, 1fr);
      }

      .container-card{
        width: 150px;
        height: 120px;
      }

      
  }
